* {
  box-sizing: border-box;
}

#Gryffindor {
  background-color: #ce3a0a;
  color: #fdb02e;
}

#Hufflepuff {
  background-color: #ffc02a;
  color: #0b0000;
}

#Ravenclaw {
  background-color: #395f9d;
  color: #e9ba36;
}

#Slytherin {
  background-color: #588c39;
  color: #c0b1c6;
}

.hide {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: beige;
  margin: 2em;
  padding: 2em;
}
/*.counter {
  display: flex;
}*/
body {
  background-image: url("images/wallpaper.png");
}
button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Old Standard TT", serif;
  font-size: 17px;
  height: 4vh;
  background-color: grey;
}

.first,
.last,
.house {
  width: 1vw;
  padding: 0;
  margin: 0;
  height: 3vh;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 6vh;
  border-bottom: solid grey 1px;
}
#list {
  height: 50vh;
  width: 65vw;
  overflow: scroll;
}
h1,
h2 {
  font-family: "Old Standard TT", serif;
  font-size: 34px;
}

p {
  font-family: "Old Standard TT", serif;
  font-size: 17px;
}
